### Se realiza la conexión y carga de datos al neo4j

In [1]:
import neo4j as neo
dataset = "dataset.xlsx"
neo.main(dataset)

### Se realiza la extracción de datos, cálculos de consultas con spark y se almacena en posgresql

In [2]:
from spark import main
main()

Datos extraidos de Neo4j

+-----------+----------+------------------+
|customer_id|product_id|transaction_amount|
+-----------+----------+------------------+
|       1817|         2|            590.26|
|       2750|         2|            590.26|
|        606|         2|             71.49|
|       3111|         2|             71.49|
|       3083|         2|             71.49|
|       2537|         2|             71.49|
|       2496|         2|             71.49|
|       1035|         2|             71.49|
|        403|         2|             71.49|
|       2638|         2|             71.49|
|         45|         2|             71.49|
|        398|         2|             71.49|
|        635|         2|             71.49|
|         15|         2|             71.49|
|        554|         2|             71.49|
|       1545|         2|             71.49|
|        197|         2|            590.26|
|        442|         2|             71.49|
|       1574|         2|             71.49|
|       1289|         2|             71.49|
+-----------+----------+------------------+
only showing top 20 rows


Resultado del procesamiento de datos en Spark:

Total Spent per Customer:
+-----------+------------------+
|customer_id|       total_spent|
+-----------+------------------+
|       2509|            8313.9|
|       3091|           1434.48|
|       1677|           8188.18|
|       1806|           8723.79|
|        964|           4224.59|
|       2529| 9000.920000000002|
|       1697| 6885.150000000001|
|       2453| 4683.469999999999|
|       2214| 5053.049999999999|
|         26|           3943.12|
|       2250|           3011.79|
|       1950|12108.449999999999|
|         29|          10855.57|
|       2040|3028.8900000000003|
|        474|2107.8199999999997|
|       2927| 4096.320000000001|
|       1360|3476.3199999999997|
|       3015|14529.949999999999|
|         65|           8056.47|
|       3280|11763.689999999999|
+-----------+------------------+
only showing top 20 rows


Product Purchase Count:
+----------+--------------+
|product_id|purchase_count|
+----------+--------------+
|        26|           154|
|        29|           180|
|        65|           148|
|        54|           195|
|        19|           198|
|         0|          1378|
|        22|           175|
|        77|           215|
|         7|           194|
|        34|           204|
|        94|           149|
|        50|           209|
|        57|           173|
|        32|           201|
|        43|           216|
|        84|           177|
|        31|           190|
|        39|           152|
|        98|           156|
|        25|           164|
+----------+--------------+
only showing top 20 rows


Average Spent per Customer:
+-----------+------------------+
|customer_id|     average_spent|
+-----------+------------------+
|       2509|         1039.2375|
|       3091|            717.24|
|       1677|         1023.5225|
|       1806|        1090.47375|
|        964|           844.918|
|       2529|1285.8457142857146|
|       1697|1377.0300000000002|
|       2453| 780.5783333333333|
|       2214|1010.6099999999999|
|         26|1314.3733333333332|
|       2250|           1003.93|
|       1950|1345.3833333333332|
|         29|1206.1744444444444|
|       2040|1514.4450000000002|
|        474|1053.9099999999999|
|       2927|1365.4400000000003|
|       1360|1158.7733333333333|
|       3015|          1452.995|
|         65|1342.7450000000001|
|       3280|1470.4612499999998|
+-----------+------------------+
only showing top 20 rows


Transaction Count per Customer:
+-----------+-----------------+
|customer_id|transaction_count|
+-----------+-----------------+
|       2509|                8|
|       3091|                2|
|       1677|                8|
|       1806|                8|
|        964|                5|
|       2529|                7|
|       1697|                5|
|       2453|                6|
|       2214|                5|
|         26|                3|
|       2250|                3|
|       1950|                9|
|         29|                9|
|       2040|                2|
|        474|                2|
|       2927|                3|
|       1360|                3|
|       3015|               10|
|         65|                6|
|       3280|                8|
+-----------+-----------------+
only showing top 20 rows

### Algunas queries de prueba en neo4j (se ejecutan desde el browser de neo4j)

#### 10 primeros customers ingresados

In [ ]:
MATCH (c:Customer)
RETURN c
LIMIT 10

#### 10 primeros productos ingresados

In [ ]:
MATCH (p:Product)
RETURN p
LIMIT 10

#### 10 primeras transacciones realizadas

In [ ]:
MATCH (c:Customer)-[r:PURCHASED]->(p:Product)
RETURN c, r, p
LIMIT 10

 #### GastoTotal por Cliente: 
 Calcular el monto total gastado por cada cliente en todas sus transacciones.

In [ ]:
MATCH (c:Customer)-[r:PURCHASED]->(p:Product)
RETURN c.customer_id AS customer_id, SUM(r.transaction_amount) AS total_spent
ORDER BY total_spent DESC

#### Productos MásComprados:
Contar la cantidad de veces que cada producto fue comprado.

In [ ]:
MATCH (c:Customer)-[r:PURCHASED]->(p:Product)
RETURN p.product_id AS product_id, COUNT(r) AS purchase_count
ORDER BY purchase_count DESC

#### PromediodeGastoporCliente: 
Calcular el gasto promedio de cada cliente por transacción.

In [ ]:
MATCH (c:Customer)-[r:PURCHASED]->(p:Product)
RETURN c.customer_id AS customer_id, AVG(r.transaction_amount) AS average_spent
ORDER BY average_spent DESC

####  Frecuencia de CompraporCliente: 
Determinar cuántas transacciones ha realizado cada cliente.

In [ ]:
MATCH (c:Customer)-[r:PURCHASED]->(p:Product)
RETURN c.customer_id AS customer_id, COUNT(r) AS transaction_count
ORDER BY transaction_count DESC